/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::selection{
    background:#0000ff;
    border-radius: 20px;
    color: #00ff00;
    transition: 1s;
}

/* Scrollbar animation */
::-webkit-scrollbar
{
    width: 5px;
    background: #0000ff;
}
::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 20px;
    height: 100px;
}


/* Home Section styles start */
.hero {
    
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(53, 151, 53, 0.6) , rgba(0,0,255,0.3)) , url('../images/programbg2.png');
    /* background: linear-gradient(rgba(53, 151, 53, 0.6) , rgba(0,0,255,0.3)); */
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

header{
    position: fixed;
    height: 15vh;
    width: 100%;
    background: rgba(0,0,0,0.01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 1;
}

header img {
    position: relative;
    width: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    margin-left: 20px;
    animation: animate 3s ease-in forwards;
    animation-delay: 0s;
}

.nav-links {
    position: relative;
    display: flex;
}
.nav-links li {
    list-style: none;
    position: relative;
    margin: 0px 15px;
}
.nav-links li a::before{
    content: '';
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
}
.nav-links li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
.nav-links li a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.7s;
    letter-spacing: 1px;
}
.fas {
    padding-left: 6px;
    padding-right: 6px;
}
.nav-links li a:nth-child(1)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 1s;
}
.nav-links li a:nth-child(2)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 2s;
}
.nav-links li a:nth-child(3)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 3s;
}
.nav-links li a:nth-child(4)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 4s;
}
.nav-links li a:nth-child(5)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 5s;
}
.nav-links li a:nth-child(6)
{
    animation: animate 3s ease-in forwards;
    animation-delay: 6s;
}

@keyframes animate {
    0%{
        left: -100%;
        opacity: 0;
    }
    100%{
        left: 0%;
        opacity: 1;
    }
}
.nav-links li a:hover  
{
    color: #00ff00;
}

.nav-links li a i{
    padding: 0px 8px;
}
.sub-menu {
    display: none;
}

.submenuActive {
    display: block;
    right: -19px;
    position: absolute;
    top: 200%;
    background-color: #000;
    animation: animateSubmenu 1s ease-in-out forwards;

}
@keyframes animateSubmenu {
    0%{
        clip-path: polygon(0 1%, 100% 0, 100% 10%, 0 10%);
        -webkit-clip-path: polygon(0 1%, 100% 0, 100% 10%, 0 10%);
        opacity: 0;
        transition: 1s;
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        opacity: 1;
        transition: 1s;
        border-radius: 10px 10px 0 0;
    }
}

.sub-menu ul{
    margin: 10px;
}
.sub-menu ul li{
    width: 160px;
    padding: 10px;
}
.sub-menu ul li a:nth-child(1){
    animation: none;
    margin: 0;
}
.sub-menu ul li a:nth-child(2){
    animation: none;
    margin: 0;
}
.sub-menu ul li a:nth-child(3){
    animation: none;
    margin: 0;
}
.sub-menu ul li a:nth-child(4){
    animation: none;
    margin: 0;
}

.hamburger {
    display: none;
}

.hamburger div  {
    width: 35px;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
    transition: .5s;
}
.hamburger .center {
    margin-top: 3px;
}
.hamburger .bottom {
    margin-top: 3px;
}

.sticky {
    background: #000;
    height: 10vh;
    width: 100%;
}

.home {
    height: 85vh;
    width: 100%;
    top: 15vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home h1 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.3px;
    line-height: 18vh;
    transition: 1s;
}
.home p{
    color: #fff;
    font-size: 22px;
    transition: 1s;
}

.home h1:hover {
    transform: scale(1.2) translateY(-50px);
    color: #00ff00;
}
.home p:hover{
    transform: scale(1.2) translateY(20px);
    color: #00ff00;
}

.homeslide {
    position: fixed;
    opacity: 0;
    right: -5vh;
    transition: 1s;
}

.stickyslide {
    background: #0000ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 2vh;
    right: 2vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.homeslide a {
    color: #fff;
}
.homeslide a:hover {
    color: #0f0;
}
/* Home Section styles end */

/* About Section styles start */
.about {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)) , url('../images/group-cheerful-friends.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.aboutContainer h2 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-top: 65px;
    text-transform: uppercase;
    color: #fff;
}
.aboutContainer h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 40px;
    background: linear-gradient(to right , #00ff00 , #0000ff);
}
.aboutContainer .abtcontent h3{
    margin-top: 20px;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
.aboutContainer .abtcontent p {
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.aboutContainer h1 {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 20px;
    color: #fff;
}
.aboutContainer .aboutslideContainer {
    max-width: 1200px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    
}
.aboutContainer .aboutslideContainer .aboutSlide {
    width: 300px;
    height: 400px;
    margin: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid #000;
    overflow: hidden;
}
.aboutContainer .aboutslideContainer .aboutSlide .imgBox {
    width: 100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.aboutContainer .aboutslideContainer .aboutSlide:hover img {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #0000ff;
}
.aboutContainer .aboutslideContainer .aboutSlide .imgBox img {
    width: 100%;
    height: 200%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all ease-in-out 1s;
}
.aboutContainer .aboutslideContainer .aboutSlide:hover img {
    width: 100%;
    height: 100%;
}
.aboutContainer .aboutslideContainer .aboutSlide .content {
    width: 100%;
    height: 100%;
}
.aboutContainer .aboutslideContainer .aboutSlide .content h3 {
    text-transform: uppercase;
    font-size: 30px;
    font: 500;
    color: #00f;
    text-align: center;
    padding: 10px 0px;
    margin-top: 120px;
    transition: all ease-in-out 1s;
}
.aboutContainer .aboutslideContainer .aboutSlide .content p {
    position: relative;
    top: 60px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px;
    line-height: 20px;
    color: #fff;
    opacity: 0;
    transition: all ease-in-out 1s;
}
.aboutContainer .aboutslideContainer .aboutSlide:hover h3 {
    margin-top: 0px;
    color: #fff;
}
.aboutContainer .aboutslideContainer .aboutSlide:hover p {
    opacity: 1;
    top: 0;
}
.aboutContainer .aboutslideContainer .aboutSlide .content a{
    text-decoration: none;
    font: 16px;
    color: #fff;
    background: #00ff00;
    padding: 3px 8px;
    border-radius: 50px;
    margin-left: 20px;
}

/* About Section styles end */

/* service Section styles start */
.service {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,255,0,0.5) ,rgba(0,0,255,0.3) ,rgba(0, 0, 0, 0.822)) , url('../images/dataanaalatic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.servicecontainer {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
}
.servicecontainer h2 {
    margin-bottom: 10px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #000;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.servicemaincontainer {
    margin-left: 20px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    transition: 0.7s;
}
.serviceItems{
    background: #00ff00;
    width: 400px;
    margin: 2px;
    text-align: center;
    padding: 15px 0px;
    transition: .4s;
}
.serviceItems h3 {
    cursor: pointer;
}
.serviceItems:hover {
    background: #ffffff;
    color: #00ff00;
}
.servicemaincontainer1 {
    margin-left: 20px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    transition: 0.7s;
}

/* service Section styles end */

/* partners Section styles start */
.partnersmain {
    width: 100%;
    min-height: 100%;
}


.partners {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.partnersmain .partners h2 {
    text-transform: uppercase;
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.partnersmain .partners .partnermainBox {
    position: relative;
    width:60%;
    height: 400px;
    overflow: hidden;
    border: 4px solid #000;
}
.partnersmain .partners .partnermainBox .partnerSlides{
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    margin: 0px auto;
}
.partnersmain .partners .partnermainBox .partnerSlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
    background: #000;
}
@-webkit-keyframes fade {
    from {
        clip-path: polygon(44% 0, 51% 0, 51% 100%, 44% 100%);
    }
    to {
        clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
    }
}
@keyframes fade {
    0% {
        clip-path: polygon(44% 0, 51% 0, 51% 100%, 44% 100%);
    }
    100% {
        clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
    }
}
.partnersmain .partners .partnermainBox .prevBtn {
    position: absolute;
    height: 100%;
    width: 7%;
    padding: 0px 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.6s;
}
.partnersmain .partners .partnermainBox .nextBtn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 7%;
    padding: 0px 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.6s;
}
.partnersmain .partners .partnermainBox .nextBtn:hover , .partnersmain .partners .partnermainBox .prevBtn:hover {
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

/* partners Section styles end */

/* Customer_review Section styles start */
.customerReview {
    width: 100%;
    min-height: 100%;
    /* background: #00ff00; */
    margin: 15px 0px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customerReview h2{
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
.customerReview h2::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 4px;
    bottom: -10px;
    background: linear-gradient(to right,rgba(0,255,0,0.5) ,rgba(0, 0, 255, 0.658));
    left: 50%;
    transform: translate(-50%);
}
.customerReview .customerReviewContainer{
    margin-top: 35px;
    width: 100%;
    max-width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: -5px -5px 15px rgba(0,0,0,0.6) , 5px 5px 15px rgba(0, 0, 255, 0.6);
    overflow: hidden;
    transition: 1s;
}
.customerReview .customerReviewContainer .CRsliders{
    position: relative;
    width: 94%;
    height: 300px;
    transition: 1s;
}
.customerReview .customerReviewContainer .sliderArrow{
    width: 7%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.customerReview .customerReviewContainer .sliderArrow img {
    width: 50px;
    padding: 10px;
    cursor: pointer;
}
.customerReview .customerReviewContainer .CRsliders .CRcard {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) , rgba(0, 0, 0, 0.8));
    line-height: 22px;
}
.customerReview .customerReviewContainer .CRsliders .CRcard .profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.customerReview .customerReviewContainer .CRsliders .CRcard .profile img {
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
}
.customerReview .customerReviewContainer .CRsliders .CRcard .profile .name h1{
    text-transform: capitalize;
    color: #00ff00;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.customerReview .customerReviewContainer .CRsliders .CRcard .profile .name p{
    letter-spacing: 1px;
    color: #fff;
    font-weight: 550;
}
.customerReview .customerReviewContainer .CRsliders .CRcard .review {
    color: #fff;
}
/* Customer_review Section styles end */


/* Contact Us section style start */
.contact
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact h2{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0px;
    text-transform: uppercase;
}
.contactInfo 
{
    width: 90%;
    min-height: 600px;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 300px 550px;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.contactInfo .contactaddress {
    padding: 0 20px;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) , rgba(0, 0, 0, 0.8));
}
.contactInfo .contactaddress .cmpname {
    display: flex;
    align-items: center;
}
.contactInfo .contactaddress .cmpname h2
{
    padding-left: 20px;
    font-size: 22px;
    text-transform: uppercase;
}
.contactInfo .contactaddress .cmpname img {
    width: 40px;
    border-radius: 50%;
}
.contactInfo .contactaddress h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px 0px;
}
.contactInfo .contactaddress p{
    font-size: 18px;

}
.contactInfo .contactaddress p i{
    padding-right: 20px;
}
.contactInfo .contactForm {
    border: 3px solid #000;
    grid-column: span 2;
}
.contactInfo .contactForm .form 
{
    position: relative;
    width: 100%;
    height: 100%;
}
.contactInfo .contactForm .form form
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
}
.contactInfo .contactForm .form h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo .contactForm .form #formItems {
    position: relative;
    width: 70%;
    margin: 15px 0px;
    font-size: 20px;
    height: 40px;
    background: none;
    padding: 3px 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    transition: 1s;
}
.contactInfo .contactForm .form #formItems::placeholder ,.contactInfo .contactForm .form #textarea::placeholder{
    color: #c4c2c2;
    font-size: 10px;
}
.contactInfo .contactForm .form #formItems:focus ,.contactInfo .contactForm .form #textarea:focus {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.contactInfo .contactForm .form #textarea{
    width: 70%;
    margin: 15px 0px;
    font-size: 14px;
    height: 100px;
    background: none;
    padding: 3px 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    transition: 1s;
}

.contactInfo .contactForm .form #submit 
{
    margin: 15px 0px;
    width: 70%;
    text-transform: uppercase;
    padding: 10px 40px;
    text-align: center;
    background: transparent;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid #000;
    font-size: 20px;
    transition: 1s;
    transform-origin: left;
    color: #fff;
}

.contactInfo .contactForm .form #submit:hover {
    background: #0f0;
    transform-origin: right;
    border: 2px solid #00f;
}
/* Contact Us section style start */


/* blog section style end */
.blog {
    width: 100%;
    min-height: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog h2 {
    padding-top: 45px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
.blog a {
    text-transform: capitalize;
    color: #00f;
    font-weight: 700;
    padding: 40px 0px;
    text-decoration: none;
    font-size: 25px;
}
.blog .blogsContainer {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    grid-gap: 40px;
}
.blog .blogsContainer .card {
    width: 450px;
    height: 250px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)) , url('../images/tj_images.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 15px 20px;
    overflow: hidden;
}
.blog .blogsContainer .card .text {
    margin-top: 60px;
}
.blog .blogsContainer .card .text h3{
    font-size: 25px;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 20px;
    margin-left: 450px;
    opacity: 0;
    transition: 1s;
}
.blog .blogsContainer .card .text p {
    font-size: 17px;
    color: #fff;
    line-height: 22px;
    padding-right: 400px;
    opacity: 0;
    transition: .5s;
}
.blog .blogsContainer .card:hover .text h3 {
    margin-left: 0px;
    opacity: 1;
}
.blog .blogsContainer .card:hover .text p {
    padding-right: 0px;
    opacity: 1;
}
.blog .blogsContainer .card .text p span {
    color: #c7a9a9;
}
/* Footer section style start */
.footer {
    margin-top: 20px;
    width: 100%;
    min-height: 300px;
    background: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
}
.footer .contactFooter {
    min-height: 300px;
    padding: 20px;
}
.footer .contactFooter h2 {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}
.footer .contactFooter .cmpname {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.footer .contactFooter .cmpname img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #00f;
}
.footer .contactFooter .cmpname h2 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 20px;
}
.footer .contactFooter p {
    margin: 20px 0px;
    font-size: 18px;
    color: #fff;
}
.footer .menu {
    min-height: 250px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer .menu h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-transform: uppercase;
}
.footer .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 5px 0px;
    text-transform: capitalize;
}
.footer .menu a:hover {
    color: #0f0;
}
.footer .recentBlogs {
    min-height: 300px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.footer .recentBlogs h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.footer .recentBlogs a {
    margin: 5px 0px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.footer .recentBlogs a:hover {
    color: #0f0;
}
.footer .newsletter {
    min-height: 300px;
    padding: 20px;
}
.footer .newsletter h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.footer .newsletter .newsletters {
    display: flex;
}
.footer .newsletter .newsletters #email {
    width: 180px;
    padding: 6px;
    font-size: 17px;
    margin-right: -5px;
    outline: none;
    border: none;
    border: 2px solid #00f;
}
.footer .newsletter .newsletters button {
    background: #00f;
    padding: 6px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 17px;
    outline: none;
    border: none;
    border: 2px solid #00f;
    transition: .5s;
}
.footer .newsletter .newsletters button:hover {
    background: #0f0;
}
.footer .newsletter .socialIcons {
    display: flex;
    flex-wrap: wrap;
}
.footer .newsletter .socialIcons p {
    margin-right: 14px;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    padding: 10px;
    font-size: 25px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s;
}
.footer .newsletter .socialIcons p:nth-child(5) {
    margin-right: 0px;
}
.footer .newsletter .socialIcons p:hover {
    color: #010d75;
    background: #0f0;
}
.fottercpyRightsection {
    width: 100%;
    background: #0f0;
    padding: 15px;
}
.fottercpyRightsection p{
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #fff;
}

/* Singnup.html file styling start  */



.signin-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-container .box {
    width: 85%;
    height: 85%;
    background: #010d75;
    overflow: hidden;
} 
.signin-container .box .signin {
    width: 100%;
    height: 100%;
    display: flex;
}
.signin-container .box .signin .container-1 {
    width: 40%;
    height: 100%;
    background: linear-gradient(45deg,rgba(0,255,0,0.5) ,rgba(0, 0, 255, 0.658)) , url('../images/signin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signin-container .box .signin .container-1 h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
}
.signin-container .box .signin .container-1 p {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 25px;
}
.signin-container .box .signin .container-1 button {
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    border-radius: 40px;
    outline: none;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
}
.signin-container .box .signin .container-1 button:hover {
    background: linear-gradient(45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    color: #0f0;
    transition: 1s;
    cursor: pointer;
}
.signin-container .box .signin .container-2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signin-container .box .signin .container-2  h2{
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 35px;
}
.signin-container .box .signin .container-2 .login-Links {
    display: flex;
} 
.signin-container .box .signin .container-2 .login-Links h3{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1.4px;
    color: #fff;
    margin: 0px 10px;
    background: linear-gradient(-45deg ,rgba(0,0,255,0.8) , rgba(0,255,0,0.7));
    padding: 6px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.signin-container .box .signin .container-2 p {
    font-size: 18px;
    color: #fff;
    margin: 30px 0px;
} 
.signin-container .box .signin .container-2 form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.signin-container .box .signin .container-2 form input {
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
}
.signin-container .box .signin .container-2 form input:focus {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.signin-container .box .signin .container-2 form input::placeholder {
    color: #000;
    font-size: 12px;
}
.signin-container .box .signin .container-2 form button {
    font-size: 18px;
    color: #fff;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    outline: none;
    border: 2px solid #000;
    padding: 10px 0px;
    border-radius: 5px;
    transition: 1s;
}
.signin-container .box .signin .container-2 form button:hover {
    background: linear-gradient(-45deg ,rgba(0,0,255,0.8) , rgba(0,255,0,0.7));
    cursor: pointer;
}

/* login  */
.signin-container .box .signup{
    width: 100%;
    height: 100%;
    display: flex;
}
.signin-container .box .signup .signupcontainer-1 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signin-container .box .signup .signupcontainer-1  h2{
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 35px;
}
.signin-container .box .signup .signupcontainer-1 .login-Links {
    display: flex;
} 
.signin-container .box .signup .signupcontainer-1 .login-Links h3{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1.4px;
    color: #fff;
    margin: 0px 10px;
    background: linear-gradient(-45deg ,rgba(0,0,255,0.8) , rgba(0,255,0,0.7));
    padding: 6px 15px;
    border-radius: 30px;
    cursor: pointer;
}
.signin-container .box .signup .signupcontainer-1 p {
    font-size: 18px;
    color: #fff;
    margin: 20px 0px;
} 
.signin-container .box .signup .signupcontainer-1 form {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.signin-container .box .signup .signupcontainer-1 form input {
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
}
.signin-container .box .signup .signupcontainer-1 form input:focus {
    border-bottom: 1px solid #fff;
    color: #fff;
}
.signin-container .box .signup .signupcontainer-1 form input::placeholder {
    color: #000;
    font-size: 12px;
}
.signin-container .box .signup .signupcontainer-1 form button {
    font-size: 18px;
    color: #fff;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    outline: none;
    border: 2px solid #000;
    padding: 10px 0px;
    border-radius: 5px;
    transition: 1s;
}
.signin-container .box .signup .signupcontainer-1 form button:hover {
    background: linear-gradient(-45deg ,rgba(0,0,255,0.8) , rgba(0,255,0,0.7));
    cursor: pointer;
}
.signin-container .box .signup .signupcontainer-2 {
    width: 40%;
    height: 100%;
    background: linear-gradient(45deg,rgba(0,255,0,0.5) ,rgba(0, 0, 255, 0.658)) , url('../images/signup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signin-container .box .signup .signupcontainer-2 h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
}
.signin-container .box .signup .signupcontainer-2 p {
    color: #fff;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 25px;
}
.signin-container .box .signup .signupcontainer-2 button {
    font-size: 20px;
    color: #fff;
    padding: 10px 50px;
    background: linear-gradient(-45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    border-radius: 40px;
    outline: none;
    border: 1px solid #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
}
.signin-container .box .signup .signupcontainer-2 button:hover {
    background: linear-gradient(45deg , rgba(0, 0, 255, 0.6) ,  rgba(0, 0, 0, 0.8));
    color: #0f0;
    transition: 1s;
    cursor: pointer;
}

/* login end  */


.signup-deactive  {
    opacity: 0;
    transform: translateY(100%);
    transition: 1s;
}
.signin-active {
    transform: translateY(-100%);
    transition: all ease 1s;
}
.signup-active  {
    transform: translateY(0);
    transition: all ease 1s;
}
.signin-deactive {
    opacity: 0;
    transform: translateY(0);
    transition: 1s;
}


/* Singnup.html file styling end  */



/* Making responsive */
@media screen and (max-width:1200px){
    .home h1 {
        font-size: 45px;
    }
    .home p {
        text-align: center;
        font-size: 20px;
    }
    .servicemaincontainer1 , .servicemaincontainer {
        align-items: center;
    }
    .servicemaincontainer1 .serviceItems , .servicemaincontainer .serviceItems {
        width: 45%;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 7.5%;
    }
}

@media screen and (max-width:1000px) {
    .nav-links li {
        margin: 0px 10px;
    }
    .nav-links li a {
        font-size: 17px;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 8%;
    }
    .blog .blogsContainer {
        grid-template-columns: auto auto;
    }
    .blog .blogsContainer .card {
        width: auto;
    }
    .signin-container .box {
        width: 90%;
        height: 90%;
    } 
}

@media screen and (max-width:900px) {
    .nav-links li {
        margin: 0px 8px;
    }
    .nav-links li a {
        font-size: 16px;
    }
    header img {
        width: 45px;
    }
    .home h1 {
        line-height: 30px;
        margin-bottom: 30px;
    }
    .partnersmain .partners .partnermainBox {
        width: 70%;
        height: 350px;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 9%;
    }
    .contactInfo {
        grid-template-columns: 45% 50%;
    }
    .footer
    {
        grid-template-columns: 1fr 1fr;
    }
    .signin-container .box .signup{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient( 45deg ,rgba(0,255,0,0.5) ,rgba(0, 0, 255, 0.658)) , url(../images/signup.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .signin-container .box .signup .signupcontainer-1 {
        width: 100%;
        height: 100%;
    }
    .signin-container .box .signup .signupcontainer-2 {
        width: 100%;
        height: 60%;
        background: none;
    }
    .signin-container .box .signin {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient( 45deg ,rgba(0,255,0,0.5) ,rgba(0, 0, 255, 0.658)) , url(../images/signin.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .signin-container .box .signin .container-1 {
        width: 100%;
        height: 60%;
        background: none;
    }
    .signin-container .box .signin .container-2 {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:800px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        padding-bottom: 25px;
        background: #000;
        top: 10vh;
        height: 100vh;
        width: 100%;
        line-height: 40px;
        transform: translate(100%);
        clip-path: polygon(100% 0, 99% 0, 100% 100%, 99% 100%);
        -webkit-clip-path: polygon(100% 0, 99% 0, 100% 100%, 99% 100%);
        transition: all ease-in-out 2s;
    }
    .nav-links li a {
        margin-left: 25%; 
    }
    .hamburger {
        display: block;
    }
    .navlinksHeight {
        overflow: scroll;
        transform: 1s;
    }
    .submenuActive {
        top: 138%;
        right: -24%;
        height: 37vh;
        width: 100%;
    }
    .home h1 {
        text-align: center;
        font-size: 38px;
        line-height: 30px;
        margin-bottom: 30px;
        padding: 0px 10px;
        font-weight: 500;
    }
    .home p {
        font-size: 17px;
        line-height: 25px;
        padding: 0px 15px;
    }
    .home h1:hover {
        transform:  translateY(-50px);
        color: #00ff00;
    }
    .home p:hover{
        transform:  translateY(20px);
        color: #00ff00;
    }
    .aboutContainer .abtcontent h3 {
        font-size: 37px;
        text-align: center;
        font-weight: 400;
    }
    .aboutContainer .abtcontent p{
        font-size: 17px;
    }
    .aboutContainer h1 {
        font-size: 25px;
    }
    .aboutContainer .aboutslideContainer .aboutSlide {
        height: 420px;
    }
    .servicemaincontainer , .servicemaincontainer1 {
        margin-left: 0px;
        justify-content: center;
    }
    .servicemaincontainer1 .serviceItems , .servicemaincontainer .serviceItems {
        width: 95%;
    }
    .partnersmain .partners .partnermainBox {
        width: 100%;
        height: 350px;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 8%;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard {
        padding: 20px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile
    {
        margin: 15px 0px;
    }
    .contactInfo {
        grid-template-columns: 1fr;
        grid-template-rows: 320px 380px 522px;
        width: 100%;
        margin-bottom: 0px;
    }
    .contactInfo .contactaddress {
        grid-column: span 2;
    }
    .contactInfo .contactMap {
        grid-column: span 2;
    }
    .contactInfo .contactForm {
        grid-column: span 2;
        width: 100%;
    }
    .contactInfo .contactForm .form #formItems , .contactInfo .contactForm .form #textarea , .contactInfo .contactForm .form #submit {
        width: 96%;
    }
    .blog .blogsContainer {
        grid-template-columns: unset;
    }
    .blog .blogsContainer .card 
    {
        height: 300px;
    }
    .footer {
        grid-template-columns: unset;
        margin-top: 30px;
    }
    .signin-container .box {
        width: 100%;
        height: 100%;
    } 
    .signin-container .box .signup .signupcontainer-1 h2 {
        font-size: 26px;
    }
    .signin-container .box .signup .signupcontainer-1 .login-Links h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 10px;
        padding: 4px 12px;
    }
    .signin-container .box .signup .signupcontainer-1 p {
        padding: 23px 0px;
    }
    .signin-container .box .signup .signupcontainer-2 h2 {
        font-size: 35px;
    } 
    .signin-container .box .signup .signin .container-2 h2 {
        font-size: 26px;
    }
    .signin-container .box .signup .signin .container-2 .login-Links h3 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 10px;
        padding: 4px 12px;
    }
    .signin-container .box .signup .signin .container-2 p {
        padding: 23px 0px;
    }
    .signin-container .box .signin .container-1 h2 {
        font-size: 35px;
    }
}


@media screen and (max-width:450px) {
    .home h1 {
        font-size: 35px;
        line-height: 25px;
    }
    .aboutContainer .abtcontent h3 {
        font-size: 35px;
    }
    .aboutContainer .aboutslideContainer .aboutSlide {
        height: 420px;
    }
    .partnersmain .partners .partnermainBox {
        width: 100%;
        height: 280px;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 10%;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile img {
        width: 60px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile .name h1 {
        font-size: 22px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile .name p {
        font-weight: lighter;
        font-size: 14px;
    }
    .customerReview .customerReviewContainer .sliderArrow{
        width: 10%;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile {
        margin: 10px 0px;
        margin-bottom: 14px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .review p {
        font-size: 14px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard {
        padding: 15px;
    }
    .contactInfo {
        grid-template-rows: 320px 380px 522px;
    }
    .blog .blogsContainer {
        grid-template-columns: 1fr;
    }
    .blog .blogsContainer .card .text h3{
        font-size: 22px;
    }
    .blog .blogsContainer .card .text p {
        font-size: 15px;
    }
    .footer .newsletter .newsletters #email {
        width: 192px;
        padding: 8px 6px;
        font-size: 20px;
    }
    .footer .newsletter .newsletters button {
        padding: 8px 10px;
        font-size: 20px;
    }
    .signin-container .box .signup .signupcontainer-1 form {
        width: 90%;
    }
    .signin-container .box .signin .container-2 form {
        width: 90%;
    }
    .signin-container .box .signup .signupcontainer-1 h2 {
        text-align: center;
        line-height: 30px;
    }
    .signin-container .box .signin .container-2 h2 {
        text-align: center;
        line-height: 30px;
    }
}

@media screen and (max-width:340px) {
    .home h1 {
        font-size: 30px;
    }
    .aboutContainer .abtcontent h3 {
        font-size: 30px;
    }
    .aboutContainer h1 {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        line-height: 25px;
    }
    .aboutContainer .aboutslideContainer .aboutSlide {
        margin: 20px 0px;
        width: 280px;
        height: 440px;
    }
    .partnersmain .partners .partnermainBox .nextBtn, .partnersmain .partners .partnermainBox .prevBtn {
        width: 12%;

    }
    .partnersmain .partners .partnermainBox {
        height: 200px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile {
        margin: 5px 0px;
        margin-bottom: 12px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile img {
        width: 50px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile .name h1 {
        font-size: 20px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .profile .name p {
        font-weight: lighter;
        font-size: 14px;
    }
    .customerReview .customerReviewContainer .sliderArrow{
        width: 12%;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard .review p {
        font-size: 14px;
        line-height: 18px;
    }
    .customerReview .customerReviewContainer .CRsliders .CRcard {
        padding: 10px;
    }
    .contactInfo {
        grid-template-rows: 320px 320px 522px;
    }
    .blog .blogsContainer .card .text h3{
        font-size: 20px;
    }
    .blog .blogsContainer .card .text p {
        font-size: 13px;
    }
    .footer .newsletter .newsletters #email {
        width: 233px;
        padding: 7px 6px;
        font-size: 20px;
    }
    .footer .newsletter .newsletters button {
        padding: 12px 74px;
        font-size: 20px;
    }
    .signin-container .box .signin .container-2 .login-Links h3 {
        font-size: 15px;
        margin: 0px 6px;
        padding: 5px 10px;
    }
    .signin-container .box .signup .signupcontainer-1 .login-Links h3 {
        font-size: 15px;
        margin: 0px 6px;
        padding: 5px 10px;
    }
}
/* Navbar Responsive */
.navlinksActive {
    transform: translate(0%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all ease-in-out 2s;
}
.toggle1 {
    transform: rotate(45deg) translate(19% , 98%);
    transition: .7s;
}
.toggle3{
    transform: rotate(-45deg);
    transition: .7s;
}
.toggle2 {
    display: none;
    transition: 1s;
}

